.card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .card-gallery img {
    margin: 10px;
    width: 300px;
    transition: transform 0.3s ease; 
  }
  
  .card-gallery img:hover {
    transform: scale(1.1);
  }
  